* {
  margin: 0%;
  padding: 0%;
}

body {
  overflow-x: hidden;
}

.input {
  border-radius: 10px;
  width: 20vw;
}
.login {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
.gap-head {
  margin-top: 58px;
}
.gap-headss {
  margin-top: 88px;
}
.contact-headd {
  padding-top: 20px;
  color: black;
}
.contact-maiin {
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-size: cover;
}
.form-start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.form-three {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 715px) {
  .form-control {
    font-size: 9px;
  }
  .form-label {
    font-size: 9px;
  }
}
@media (max-width: 300px) {
  .form-control {
    width: 120px;
  }
}
.contact-form {
  height: 73vh;
  width: 90vw;
  font-size: large;
  font-weight: 800;
  color: gold;
}

.sumb-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-header {
  padding-top: 20px;
  color: rgb(194, 129, 9);
}

.submit-btn {
  color: white;
  border-top-left-radius: 20px;
}
.submit-btn:hover {
  background-color: black;
}
.form-input {
  border-radius: 4px;
}

.index-exhaust-input {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 604px) {
  .index-exhaust-input {
    font-size: 9px;
    width: 90px;
  }
  .index-exhaust-input h2 {
    font-size: 15px;
  }
  .crausel-frontimg {
    height: 400px;
  }
  .about-head {
    font-size: 9px;
  }
  .about-head h1 {
    font-size: 17px;
  }
  .meuseum-heading h2 {
    font-size: 20px;
  }
  .meuseum-heading p {
    display: none;
  }
}
@media (max-width: 374px) {
  .index-exhaust-input {
    font-size: 6px;
    width: 50px;
  }
  .index-exhaust-input h2 {
    font-size: 10px;
  }
  .crausel-frontimg {
    height: 200px;
  }
}
.meuseum-cards {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-component {
  color: goldenrod;
}
.footer-maiin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.fotter-text {
  min-width: 200px;
  margin-bottom: 7px;
}
.fotter-texts {
  min-width: 100px;
}

@media (max-width: 766px) {
  .subscribe-btn {
    width: 60px;
    height: 22px;
    font-size: 9px;
    padding-top: 4px;
  }
  .footer-sub {
    height: 22px;
  }
}

/* .footer-head {
  background-color: red;
} */

@media (max-width: 1240px) {
  /* .index-exhaust-input {
    width: 20vw;
    height: 5vh;
    font-size: 10px;
  }
  .card-title {
    font-size: 20px;
  } */
}
@media (max-width: 826px) {
  /* .index-exhaust-input {
    height: 5vh;
    font-size: 5px;
  }
  .card-title {
    font-size: 12px;
  } */
  /* .footer-component {
    height: 40vh;
    width: 100vw;
    font-size: 10px;
  }
  .footer-image {
    width: 50px;
    height: 40px;
  }
  .footer-sub {
    font-size: 10px;
    width: 120px;
    height: 20px;
  } */
  /* .subscribe-btn {
    width: 80px;
    height: 22px;
    font-size: 8px;
    padding-top: 4px;
  } */
  /* .footer-head {
    font-size: 12px;
  } */
}
@media (max-width: 540px) {
  /* .index-exhaust-input {
    height: 3vh;
    font-size: 2px;
  }
  .card-title {
    font-size: 6px;
  } */
  /* .footer-sub {
    font-size: 10px;
    width: 80px;
    height: 15px;
  } */
  /* .subscribe-btn {
    width: 60px;
    height: 18px;
    font-size: 6px;
    padding-top: 4px;
  } */
  /* .footer-image {
    width: 40px;
    height: 30px;
  }
  .footer-head {
    padding: 1px;
  } */
}
/* @media (max-width: 390px) {
  .footer-image {
    display: none;
  }
  .footer-head {
    font-size: 5px;
  }
  .footer-component {
    font-size: 5px;
  }
} */
